Implement a function that finds the nth node in a linked list, counting from the end.

Your function should take a linked list (its head element) and n, a positive integer as its arguments.

Example:
    head = 7 -> 6 -> 5 -> 4 -> 3 -> 2 -> 1 -> null
    The third element of the head counting from the end is 3.
    head2 = 1 -> 2 -> 3 -> 4 -> null
    The fourth element of head2 counting from the end is 1

Assumptions:
    If the given n is larger than the number of nodes in the list, return null.

